body {
  cursor: url('../data/target.png'), auto;
padding: 80px;
}
#game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
  background-color: blue;
    position: relative;
}
.hunter{
    width:100px;
    height:100px;
    background-color: red;
    position: absolute;
}